/* ++Login Page */
.login-page {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: var(--black);
	place-content: center;
	place-items: center;
	display: flex;
}

.login-form {
	height: 500px;
	width: 400px;
	display: flex;
	flex-direction: column;
	color: var(--project-color-light);
	background-color: var(--project-color-dark);
	border-radius: 20px;
	font-family: var(--project-font);
}

.login-form input {
	width: 70%;
	height: 30px;
	border-radius: 8px;
	background-color: var(--project-color-light);
	margin-bottom: 10px;
}
.login-form-button-container {
	display: flex;
	height: 60px;
	justify-content: center;
	align-items: center;
	width: auto;
	column-gap: 30px;
}

.login-btn {
	width: 100px;
	height: 40px;
	border-radius: 8px;
	background: var(--accent);
	font-size: 16px;
	font-family: var(--project-font);
}

.login-btn:hover {
	transform: scale(1.1);
	transition: all ease-in 0.2s;
	background-color: var(--accent-bright);
	cursor: pointer;
}

.dark-memory-hero-section {
	width: 100%;
	height: 500px;
	position: relative;
}

.hero-banner-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.dark-memory-hero-section .main-nav {
	z-index: 2;
	width: fit-content;
	background: rgba(0, 0, 0, 0.5);
	column-gap: 50px;
	height: fit-content;
	border-radius: 8px;
}

.banner-img-container {
	height: 100%;
	width: 25%;
	background: linear-gradient(
		90deg,
		var(--project-color-light),
		var(--project-color-light),
		var(--project-color-dark),
		var(--project-color-light)
	);
}

.flex-active {
	display: flex;
}

.flex-inactive {
	display: none;
}
