:root {
	/* Outlines */
	--black: #000000;
	--white: #ffffff;
	--ol: 1px solid white;
	--olB: 1px solid blue;
	--olY: 1px solid yellow;
	--olR: 1px solid red;
	--olO: 1px solid orange;
	--olG: 1px solid green;

	/* Colors */
	--project-color-main: #8c6e63;
	--project-color-light: #d3a376;
	--project-color-dark: #3e2522;
	--accent: #ffe062;
	--accent-bright: #ff6700;
	--font-color: #d3a376;

	/* Fonts */
	--logo-font: 'KL1MonoCase', sans-serif;
	--project-font: 'DynaPuff', sans-serif;

	/* Shadows */
	--text-shadow: 2px 2px 3px var(--black);
}

* {
	box-sizing: border-box;
}

html,
body {
	display: flex;
	height: 100%;
	width: 100%;
	padding: 15px 8px;
	background: var(--project-color-dark);
}
html {
	justify-content: center;
}

body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	max-width: 1480px;
	background: linear-gradient(var(--project-color-main), var(--project-color-dark));
	flex-direction: column;
	position: relative;
}

a,
li {
	text-decoration: none;
	list-style: none;
	cursor: pointer;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cta-btn {
	width: 80px;
	height: 40px;
	border-radius: 20px;
	padding: 5px;
	font-size: 16px;
	background: var(--accent-bright);
	color: var(--black);
	font-weight: 600;
	place-content: center;
}
