:root {
	--black: #000000;
	--white: #ffffff;
	--ol: 1px solid white;
	--olB: 1px solid blue;
	--olY: 1px solid yellow;
	--olR: 1px solid red;
	--olO: 1px solid orange;
	--olG: 1px solid green;
}
* {
	box-sizing: border-box;
}

html,
body {
	outline: var(--olB);
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	/* background: black; */
	width: 100%;
	padding: 8px;
	background: #000000;
}
body {
	padding: 0;
	margin: 0;
	outline: var(--olG);
	width: 100%;
	height: 100%;
	max-width: 1480px;
}
a,
li {
	text-decoration: none;
	list-style: none;
	cursor: pointer;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
}
