:root {
	--black: #000000;
	--white: #ffffff;
	--ol: 1px solid white;
	--olB: 1px solid blue;
	--olY: 1px solid yellow;
	--olR: 1px solid red;
	--olO: 1px solid orange;
	--olG: 1px solid green;

	--project-color-main: #151667;
	--project-color-light: #0f52ba;
	--project-color-dark: #00008b;
	--accent-light: #ebebeb;
	--accent-dark: #aeb0b0;
	--font-color: #fffdd0;
	--text-shadow: 2px 2px 3px var(--black);
}
* {
	box-sizing: border-box;
}

html,
body {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 8px;
	background: var(--project-color-main);
}
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	max-width: 1480px;
	background: var(--project-color-main);
}
a,
li {
	text-decoration: none;
	list-style: none;
	cursor: pointer;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
}
