.clock-wrapper {
	width: 100%;
	height: 90%;
	background-color: rgba(68, 74, 70, 0.5);
	position: absolute;
	z-index: 2;
	outline: var(--ol);
	flex-direction: column;
	justify-content: space-evenly;
}

.date-bar {
	width: 80%;
	border-radius: 8px;
	border: 2px outset goldenrod;
}

.date-display {
	font-size: 3rem;
	color: goldenrod;
	text-shadow: 1px 3px 3px var(--black);
}

.time-wrapper {
	height: 60%;
	width: 100%;
	justify-content: space-around;
}

.time-wrapper > span {
	height: 90px;
	width: 160px;
	border-radius: 8px;
	border: 2px outset goldenrod;
	box-shadow: 2px 2px 2px 2px var(--black);
	color: goldenrod;
	text-shadow: 1px 3px 3px var(--black);
	font-size: 2rem;
}
