.clock-wrapper {
	width: 100%;
	height: 90%;
	background-color: rgba(68, 74, 70, 0.5);
	position: absolute;
	z-index: 2;
	outline: var(--ol);
	flex-direction: column;
	justify-content: space-evenly;
}

.code-cover {
	position: absolute;
	z-index: 3;
	height: 100%;
	width: 100%;
	background-color: var(--black);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: width ease-in 0.3s;
	flex-direction: column;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	color: red;
}

.active-cover {
	width: 150px;
	left: 0;
	transition: width ease-in 0.3s;
}

.code-box {
	width: 300px;
	height: 40px;
	outline: var(--ol);
	position: relative;
	border-radius: 8px;
	background: linear-gradient(90deg, #000, gray);
	margin-bottom: 10px;
}
.code-box > label {
	color: red;
	font-weight: 600;
}

.test-btn {
	width: 100px;
	height: 40px;
	margin-top: 10px;
	background: linear-gradient(90deg, red, var(--black));
	color: white;
	font-size: 20px;
}

.test-btn:hover {
	cursor: pointer;
	transform: scale(1.2);
	transition: all ease-in 0.5s;
	background: linear-gradient(90deg, var(--black), red);
}

.date-bar {
	width: 80%;
	border-radius: 8px;
	border: 2px outset goldenrod;
}

.date-display {
	font-size: 3rem;
	color: goldenrod;
	text-shadow: 1px 3px 3px var(--black);
}

.time-wrapper {
	height: 60%;
	width: 100%;
	justify-content: space-around;
}

.time-wrapper > span {
	height: 90px;
	width: 160px;
	border-radius: 8px;
	border: 2px outset goldenrod;
	box-shadow: 2px 2px 2px 2px var(--black);
	color: goldenrod;
	text-shadow: 1px 3px 3px var(--black);
	font-size: 2rem;
}
