.mainParentContainer {
	width: 100%;
	height: 100%;
	background: #000;
	display: flex;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	outline: 2px solid green;
	background: linear-gradient(#000, darkgrey);
}

.login-page {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
	/* background-color: black; */
	background: black;
	transition: width ease 0.5s;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.loginActive {
	width: 120px;
	transition: width ease 0.5s;
}

.login-header {
	color: darkblue;
	font-size: 2rem;
	width: 100%;
	height: fit-content;
	text-align: center;
	text-shadow: 2px 2px 5px darkgray;
}

.login-form {
	width: 430px;
	height: 350px;
	border: 3px outset darkblue;
	flex-direction: column;
	row-gap: 15px;
	box-shadow: 2px 2px 10px 3px darkblue;
}

.login-form input {
	width: 250px;
	height: 40px;
	border-radius: 8px;
	background: darkgrey;
}

.login-form label {
	color: darkgray;
}

.login-btn {
	padding: 10px;
	border-radius: 8px;
	background: linear-gradient(90deg, darkblue, darkgrey);
	color: black;
	font-size: 20px;
	width: 120px;
}

.login-btn:hover {
	transform: scale(1.2);
	cursor: pointer;
	transition: all ease 0.5s;
	background: linear-gradient(90deg, darkgrey, darkblue);
}

.side-nav-bar {
	width: 120px;
	height: 100%;
	position: absolute;
	left: 0;
	flex-direction: column;
	justify-content: space-around;
}

.side-nav {
	width: 80%;
	height: 60px;
	background: darkgray;
	border-radius: 10px;
}

/* ++Flex Toggles */
.flex-active {
	display: flex;
}

.flex-inactive {
	display: none;
}
