header {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.login-page {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: var(--black);
	place-content: center;
	place-items: center;
}

.login-form {
	height: 500px;
	width: 400px;
	display: flex;
	flex-direction: column;
	color: var(--project-color-light);
	background-color: var(--project-color-dark);
	border-radius: 20px;
	font-family: var(--project-font);
}

.login-form input {
	width: 70%;
	height: 30px;
	border-radius: 8px;
	background-color: var(--project-color-light);
}

.login-btn {
	width: 80px;
	height: 30px;
	border-radius: 8px;
	background: var(--accent);
	font-size: 16px;
	font-family: var(--project-font);
}

.login-btn:hover {
	transform: scale(1.1);
	transition: all ease-in 0.2s;
	background-color: var(--accent-bright);
	cursor: pointer;
}

.logo-span {
	height: 70px;
	width: 70px;
	place-content: center;
	text-align: center;
	font-size: 3rem;
	color: var(--font-color);
	text-shadow: 1px 1px 1px var(--accent-bright);
	font-weight: 600;
	margin-left: 20px;
	border-radius: 50%;
	border: 2px solid var(--accent-bright);
	font-family: var(--logo-font);
}

.main-nav {
	width: 400px;
	height: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.main-nav a {
	color: var(--font-color);
	font-size: 1.2rem;
	font-weight: 600;
	text-shadow: var(--text-shadow);
	letter-spacing: 1.2px;
}

.main-nav a:hover,
.cta-btn:hover {
	transform: scale(1.1);
	color: var(--accent-bright);
	transition: all ease-in 0.2s;
}
.cta-btn:hover {
	color: var(--project-color-dark);
	cursor: pointer;
	transform: scale(1.1);
}

/* ++Hero Section */
.hero-section {
	width: 100%;
	height: auto;
	margin: 10px 0;
	position: relative;
	flex-direction: column;
}

.hero-section img {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.hero-header-container {
	height: 400px;
	width: 100%;
	z-index: 2;
	flex-direction: column;
}

.hero-section h1 {
	color: var(--font-color);
	font-family: var(--project-font);
	font-size: 3rem;
	text-align: center;
	text-shadow: var(--text-shadow);
	margin-bottom: -10px;
}

.hero-section h2 {
	color: var(--accent-bright);
	font-size: 2rem;
	text-shadow: var(--text-shadow);
	letter-spacing: 1.2px;
	font-weight: 600;
	font-family: var(--project-font);
	/* outline: 2px solid white; */
}

.get-help-container {
	height: 100px;
	width: 50%;
	z-index: 2;
	color: var(--font-color);
	justify-content: space-evenly;
	font-weight: 600;
	letter-spacing: 1.2px;
}

.flex-active {
	display: flex;
}

.flex-inactive {
	display: none;
}
